{% extends 'base.html' %}
{% block title %}Administration{% endblock %}
{% block content %}<h1>Administration Terminal</h1>

    <script>
        let adminId = "";
        let buttonId = "";
        let count = 0;
        let user = "";
        function checkBool(x) { 
            if(x=="True") {
                return true;
            } else if (x=="False") {
                return false;
            } 
        }
        function closeModal(){
            document.getElementById("myModal").style.display = "none";
        }
        function deleteUser(){
            document.getElementById("modalDelete").value = "True";
        }
    </script>

    <style>
        .myLabel {
            margin-right: 72px;
        }
        .myLabel2 {
            margin-right: 265px;
        }
        .profileText {
            width: 100px;
        }
        .emailText {
            width: 300px;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
          
        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
            height: 60%;
        }
          
        /* The Close Button */
        .closing {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
          
        .closing:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        .submit{
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
        .delete{
            position: absolute;
            left: 20px;
            bottom: 20px;
            background-color: rgb(192, 0, 0);
            border-color:rgb(0, 0, 0);
        }
        .delete:hover{
            position: absolute;
            left: 20px;
            bottom: 20px;
            background-color: rgb(192, 0, 0);
            border-color:rgb(0, 0, 0);
        }
        .edit{
            color: rgb(0, 0, 0);
            background-color: rgb(162, 233, 233);
            border-radius: 7px;
            border-color: rgb(6, 94, 94);
            font: 20px/30px helvetica;
            width: 70px;
            height: 35px
        }
    </style>

    <form method='POST'>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <p id="modalInner"></p>
                <span class="closing" onclick=closeModal()>&times;</span>
                <label>Is Administrator</label>
                <input type='checkbox' id='modalAdmin' name='modalAdmin'><br>
                <label>Can View Console</label>
                <input type='checkbox' id='modalConsole' name='modalConsole'><br>
                <label>Can Send Commands</label>
                <input type='checkbox' id='modalInput' name='modalInput'><br>
                <label>Can Create Servers</label>
                <input type='checkbox' id='modalServers' name='modalServers'><br>
                <button type='submit' class='btn btn-primary submit'>Submit</button>
                <button type='submit' id="modalDelete" name="modalDelete" class='btn btn-primary delete' value="False" onclick=deleteUser()>Delete User</button>
                <input type='hidden' id="userEmail" name='userEmail'>
            </div>
        
        </div>
    </form>

    <label class=myLabel>Profile</label><label class=myLabel2>Email</label><label>Admin</label><br>

    {% for eachuser in userlist %}

        <script>
            adminId = "admin" + count.toString();
            buttonId = "button" + count.toString();
        </script>

        <input type='text' class='profileText' disabled value='{{eachuser.firstName}}'>&nbsp;&nbsp;&nbsp;
        <input type='text' class='emailText' disabled value='{{eachuser.email}}'>&nbsp;&nbsp;&nbsp;
        <input type='checkbox' disabled id='adminId'>&nbsp;&nbsp;&nbsp;
        <button id='buttonId' class="edit">Edit</button><br><br>

        <script>
            document.getElementById("adminId").id = adminId;
            document.getElementById("buttonId").id = buttonId;

            document.getElementById(buttonId).onclick = function(){
                document.getElementById("modalAdmin").checked = checkBool("{{eachuser.admin}}");
                document.getElementById("modalConsole").checked = checkBool("{{eachuser.viewConsole}}");
                document.getElementById("modalInput").checked = checkBool("{{eachuser.typeInput}}");
                document.getElementById("modalServers").checked = checkBool("{{eachuser.createServer}}");

                document.getElementById("modalInner").innerHTML = "Permissions for " + "{{eachuser.firstName}}";
                document.getElementById("myModal").style.display = "block";
                user = "{{eachuser.email}}";
                document.getElementById("userEmail").value = user;
            }
            document.getElementById(adminId).checked = checkBool("{{eachuser.admin}}");
            count = count + 1;
        </script>

    {% endfor %}

{% endblock %}